@charset "utf-8";
/* CSS Document */

/*
* Noto Sans KR (korean) http://www.google.com/font/earlyaccess
 */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family: 'GongGothicMedium'; src: url('https://github.com/projectnoonnu/noonfonts_20-10/blob/main/GongGothicMedium.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local(※), url("~assets/~assets/fonts/NotoSansKR-Thin.woff2") format('woff2'),
       url("~assets/fonts/NotoSansKR-Thin.woff") format('woff'),
       url("~assets/fonts/NotoSansKR-Thin.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local(※), url("~assets/fonts/NotoSansKR-Light.woff2") format('woff2'),
       url("~assets/fonts/NotoSansKR-Light.woff") format('woff'),
       url("~assets/fonts/NotoSansKR-Light.otf") format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: local(※), url("~assets/fonts/NotoSansKR-Regular.woff2") format('woff2'),
        url("~assets/fonts/NotoSansKR-Regular.woff") format('woff'),
        url("~assets/fonts/NotoSansKR-Regular.otf") format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: local(※), url("~assets/fonts/NotoSansKR-Medium.woff2") format('woff2'),
        url("~assets/fonts/NotoSansKR-Medium.woff") format('woff'),
        url("~assets/fonts/NotoSansKR-Medium.otf") format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: local(※), url("~assets/fonts/NotoSansKR-Bold.woff2") format('woff2'),
        url("~assets/fonts/NotoSansKR-Bold.woff") format('woff'),
        url("~assets/fonts/NotoSansKR-Bold.otf") format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: local(※), url("~assets/fonts/NotoSansKR-Bold.woff2") format('woff2'),
        url("~assets/fonts/NotoSansKR-Bold.woff") format('woff'),
        url("~assets/fonts/NotoSansKR-Bold.otf") format('opentype');
 }


